.listContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 5vh 10vw;
}

.row {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 4fr;
    column-gap: 16px;
    margin-right: 16px;
}

.row > p {
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.MuiFormControl-root {
    justify-content: center;
}

.MuiTypography-body1 {
    padding: 12px 0;
}

.MuiIconButton-root {
    z-index: 1;
}
