html {
  --main-color: #432F75;
  --light-color: #8A7BAF;
  --dark-color: #15063A;
  --background-color: rgba(138,123,175,0.2);
}

.App {
  text-align: center;
  background-color: var(--background-color);
  min-height: 100vh;
}

.mainArea {
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: static;
  margin-top: 60px;
}

h2 {
  color: var(--dark-color);
  text-transform: uppercase;
  padding: 30px;
}

.calculateButton  {
  margin: 20px;
  z-index: 1;
  cursor: pointer;
}

.color-primary-0 { color: #432F75 }	/* Main Primary color */
.color-primary-1 { color: #8A7BAF }
.color-primary-2 { color: #635192 }
.color-primary-3 { color: #291657 }
.color-primary-4 { color: #15063A }

/* # https://paletton.com/#uid=14i0u0kllllaFw0g0qFqFg0w0aF */